html {
    scroll-behavior: smooth;
}


body {
    background-color: #FFE997;
    font-family: 'Playfair Display', serif;
    color: white;
    max-width: 100vw;
    overflow-x:hidden;
    padding-right: 0;
}
h1 {
    font-weight: 900;
    font-style: italic;
}
h2 {
    font-weight: 900;
    font-style: italic;
    
}

#toggle-icon {
    align-self: right;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

h3{
        font-weight: 800;
        font-style: italic;
        color: #2e3e33;
    
}

a {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.05em;
    font-size: 1.2em;
    font-style: italic;
}
.top-padding {
    min-height: 5vh;
    max-height: 5vh;
    max-width: 100vw;
    margin: 0;
}


#nav-container {
    padding: 2%;
    justify-content: center;
    text-align: center;
    max-width: 600px;
    z-index: 20;
}
#dropdown {
    display: none;
}
#nav-item  {
    align-self: center;
}

.navbar-nav {
    width: 100%;
    justify-content: space-evenly;
}

#navbar{
    background-color: rgba(151, 63, 50, 0.9);
box-shadow: 0 8px 32px 0 rgba(9, 15, 105, 0.37);
backdrop-filter: blur( 1.5px );
-webkit-backdrop-filter: blur( 1.5px );
border-radius: 10px;
border: 1px solid rgba( 151, 63, 50, 0.18 );
}

#navbar-content{
    justify-content: space-evenly;
    
}

.navbar-brand {
    color:white;
    margin-left: 5%;
}

.nav-link {
    color:white;
}
#start-scale {
    height: 100vh;
}

#landing-page {
    background-color: #FFE997;
    min-height: 90vh;
    min-width: 100vw;
    max-width: 100vw;
}


#middle-img-container {
    position: absolute;
    overflow: hidden;
    margin-bottom: 0;
    top: 0;
    padding:0;
    margin-right: 0;
    z-index: 1;
    min-height: 100vh;
    height: 100vh;
    min-width: 110%;
}

#top-img-container {
    position: absolute;
    margin-bottom: 0;
    margin-right: 0;
    top: 0;
    padding: 0;
    z-index: 2;
    min-height: 100vh;
    height: 100vh;
    min-width: 110%;
}


#middle-frame {
    background-image: url('./assets/middle-frame.png');
    background-position: center;
    min-height:100vh;
    width: auto;
    max-width: 100vw;
      background-size: 120% auto;
      -webkit-background-size: 120%;
    background-repeat: no-repeat;
    animation: midzoom 10s infinite ease-in-out;
  z-index: 2;
  max-width: 105vw;
}
@keyframes midzoom {
    0% {
        background-size: 160% auto;

      -webkit-background-size: 160%;
    }
    
    50% {
      background-size: 130% auto;
      -webkit-background-size: 130%;
    }

    100% {
    background-size: 160% auto;

  -webkit-background-size: 160%;
  }
}


#top-frame {
    background-image: url('./assets/top-frame.png');
    justify-content: center;
    align-items: center;
    background-position: center;
    min-height:100vh;
    width: auto;
    max-width: 105vw;
    background-size: 100%;
    animation: zoom 9s infinite ease-in-out;
    -webkit-background-size: 100%;
    background-repeat: no-repeat;
    z-index: 3;
}

@keyframes zoom {
    0% {
        background-size: 150% auto;

      -webkit-background-size: 150%;
    }
    
    50% {
      background-size: 120% auto;
      -webkit-background-size: 120%;
    }

    100% {
    background-size: 150% auto;

  -webkit-background-size: 150%;
  }
}
#about-left-bottom {
    display: block;
    background-image: url('./assets/me_and_diego.png');
    background-size: 100%;
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    min-height: 100%;
}


#dropdown {
    display: none;
    float: left;
    overflow: hidden;
  }

#middle {
    min-height: 100vh;
}


#work {
    background: #FFE997;
background: -webkit-linear-gradient(top, #FFE997, #EA8755);
background: -moz-linear-gradient(top, #FFE997, #EA8755);
background: linear-gradient(to bottom, #FFE997, #EA8755);
    padding-top: 15vh;
    padding-left: 8vw;
    padding-right: 8vw;
    min-height: 110vh;
    padding-bottom: 5vh;
    margin-top: 80vh;
    margin-left: 0;
    width: 100%;
}

#about-container, #contact-container {
    min-height: 70vh; 
    margin-top: 0;
    padding-top: 0;
}

#work-container {
    background-color:#f3ddac;
    margin-top: 2em;
    padding-top: 0;
    min-height: 40vh;

box-shadow: 0 8px 32px 0 rgba(151, 63, 50, 0.8);
backdrop-filter: blur( 1.5px );
-webkit-backdrop-filter: blur( 1.5px );
border-radius: 10px;
border: 1px solid rgba( 151, 63, 50, 0.18 );
    
}

#about-container {
    flex-direction: row;
    min-height: 110vh; 
    margin-top: 0;
    padding-top: 1.5em;
}

#work-header{
    text-align: bottom;
    margin-bottom: 0;
    padding-bottom: 0;
}

#work-text{
    padding: 0px;
    color: rgb(151, 63, 50);
    
}

#working {

    -webkit-text-stroke: 2px rgb(151, 63, 50);
    font-size: 1.2em;
    color: #EA8755;
}

h4 {
    color:#EA8755
}

#works-text{
    -webkit-text-stroke: 3px #2e3e33;
    font-size: 1.5em;
    color: #FFE997;
    
}
#work-item-container {
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    align-content: center;
    text-align: left;
    max-height: 50vh;
    padding-top: 2%;
    padding-bottom: 5%;
    margin-bottom: 0;
}

#work-item-container-text {
    padding-top: 5%;
    padding-left: 0%;
}
#preview-container-1 {
    background-image:url('./assets/1.gif');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 40vh;
    height: auto;
    width: 100%;
    
}

#preview-container-text {
    padding: 5%;
    font-size: 1em;
    min-height: 20%;
    width: 100%;
    max-width: 100%;
    padding-right: 5%;
    margin-right: 5%;
}

#resume-pdf {
    font-style: italic;
    text-decoration: underline;
    color:rgba(151, 63, 50, 0.9)
}
#landing-div {
    padding: 2%;
    align-items: center;
    max-height: 100vh;
    max-width: 100vw;

    padding-left: 27vw;
    padding-top: 30vh;
}

#landing-title {
    height:100vh;
    max-width: 100vw;
    color: #2e3e33;
    text-align: left;
    vertical-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-right: 15vw;
}

#orange {
    color:#EA8755;
    font-size: .8em;
    margin-right: 8vw;
}

#turquoise {
    color:#769472;
    font-size: .8em;

    margin-right: 8vw;
}

#hello-row {
    max-height: 50vh;
    max-width: 50vw;
}
#sincerely {
    margin-right: 10vw;
    text-align: end;
}
#landing-text {
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
}
#work-image {
    height: 100%;
    width: auto;
}
#about-container {
    flex-direction: row-reverse;
}
.right {
    align-self: right;
}
#hi {
    font-size: 1.5em;
    -webkit-text-stroke: 2px #f6a956;
    letter-spacing: 0.03em;
    color: #769472;
    
}
#hi-there {
    color: #f6a956;
}

#email {
    color: #f6a956;
    letter-spacing: .05em;
}

#work-title {
    color: #769472;
    letter-spacing: 0.1em;
    text-decoration: underline;

}
#about {
    background-color:#769472;
    min-height: 110vh;
    padding-top: 15vh;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100vw;
}

#contact-container {
    padding-top: 5%;
}

#lets-work {
    -webkit-text-stroke: 2px #f6a956;
    color: #2e4034;
    font-size: 5em;
    letter-spacing: 0.02em;
}

#about-right-top {
    padding-left: 5%;
    padding-right: 5%;
}
#about-text {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.1em;
    color: #f3ddac
}

#contact {
    background-color: #2e4034;
    min-height: 110vh;
    padding-top: 15vh;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100vw;
}

#top-break {
    min-height: 5vh;
    max-height: 5vh;
    margin-bottom: 3vh;
}

#resume-text {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.1em;
    color: #f3ddac
}
@media only screen and (max-width: 600px) {
    ul {
        display: none;
    }
    #nav-container {
        display: block;
        padding-top: 0px;
        padding-bottom: 0px;
        max-width: 100vw;
        max-height: 5vh;
    }

    .navbar-nav {
        display:none;
        padding-top: 0;
        padding-bottom: 0;
        max-height: 5vh;
    }

.navbar {
    min-height: 10vh;
    max-height: 16vh;
}
  
  .nav-brand {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 0.3em;
  }
  
  #orange {
    color:#EA8755;
    font-size: .8em;
}

#turquoise {
    color:#769472;
    font-size: .5em;
}
#landing-div {
    padding: 2%;
    align-items: center;
    max-height: 100vh;
    max-width: 100vw;

    padding-left: 20vw;
    padding-top: 25vh;
}
  


#about-left-bottom {
    display: block;
    background-image: url('./assets/me_and_diego.png');
    background-size: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    min-height: 60vh;
    margin-bottom: 10vh;
}
#work-item-container-text {
    display: block;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0%;
}
#preview-container-text {
    padding-left: 5%;
    padding-top: 0%;
    display: block;
    font-size: 1em;
    min-height: 20%;
    width: 100%;
    max-width: 100%;
    padding-right: 5%;
    margin-top: 0px;
    margin-right: 5%;
}
}